/*=========================*/
/*        Style CSS        */
/*=========================*/

/*=========================*/
/*       Global CSS        */
/*=========================*/
*{
    padding: 0;
    margin: 0;

}
h1{
    font-family: 'Nunito', sans-serif;
}

p{
    font-family: 'Nunito', sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.hidden {
    display: none;
  }

/*=========================*/
/*       Header CSS        */
/*=========================*/
header{
    height: 64px;
    background-color: #EBF9FE;
    padding-left: 27px;
    color: #425DB2;
}

nav{
    position: relative;
    display: flex;
    height: 64px;
    
}
.nav-li{
    position: relative;
    display: flex;
}

.logo{
    padding-right: 280px;
    height: 57px;
    width: 258px;
}

.link{
    padding-right: 58px;
    padding-top: 10px;
    font-size: 20px;
}
.a-header{
    color: #425DB2;
}
.icon{
    padding-right: 20px;
}

.icon-img{
    height: 50px;
}

/*=========================*/
/*      end Header CSS     */
/*=========================*/

/*=========================*/
/*     main: section 1     */
/*=========================*/
.intro{
    background-image: url(icon/dots.svg);
    padding-left: 200px;
    padding-top: 50px;
}

.imgs{
    position: relative;
    display: flex;
}

.food1-img{
    padding-right: 100px;
}


.food2-img{
    padding-right: 120px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.logo-max{
    padding-left: 0px;
    color: #8192C9;
    font-size: 64px;
}

/*=========================*/
/*   end main: section 1   */
/*=========================*/

/*=========================*/
/*     main: section 2     */
/*=========================*/

.picks{
    font-style: 'Nunito', sans-serif;
    padding-bottom: 90px;
}

.pick-bg{
    width: 240px;
    height: 570px;
    padding-right: 80px;
    position: relative;
}
.picks-items{
    padding-left: 200px;
    position: relative;
    display: flex;
}
.items-pic{
    margin-top: -100px;
}

.picks-title{
    padding-bottom: 162px;
    padding-top: 50px;
    margin:auto;
    text-align: center;
    font-size: 64px;
    color:#425DB2;
}
.item{
    background-image: url(icon/Union.svg);
    background-repeat: no-repeat;
    height: 610px;
    width: 300px;
    margin: auto;
    text-align: center;
}

.item-name{
    color: #425DB2;
    font-size: 48px;
    font-family: 'Nunito', sans-serif;
    padding-top: 10px;
}

.item-descr{
    color: #8192C9;
    font-size: 32px;
    max-width: 290px;
    padding-top: 24px;
    padding-bottom: 66px;
}

.item-price{
    color: #425DB2;
    font-size: 48px;
    font-family: 'Nunito', sans-serif;
}
/*=========================*/
/*   end main: section 2   */
/*=========================*/

/*=========================*/
/*     main: section 3     */
/*=========================*/
.taste{
    font-family: 'Nunito', sans-serif;
    padding-top: 111px;
    background-image: url(icon/dots.svg);
    padding-bottom: 200px;
}

.taste-title{
    position: relative;
    margin: auto;
    text-align: right;
    padding-right: 150px;
    font-size: 96px;
    color: #3450AA;
}

.taste-content{
    position: relative;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}
.taste-pic{
    padding-right: 230px;
    padding-top: 50px;
}
.taste-text{
    font-size: 32px;
    text-align: right;
    color: #3450AA;
    padding-top: 100px;
}

/*=========================*/
/*   end main: section 3   */
/*=========================*/

/*=========================*/
/*     main: section 4     */
/*=========================*/
.for-you{
    font-family: 'Nunito', sans-serif;
    padding-top: 111px;
    padding-bottom: 200px;
}
.for-title{
    position: relative;
    margin: auto;
    text-align: left;
    font-size: 96px;
    color: #3450AA;
    padding-left: 150px;
}

.for-content{
    position: relative;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}

.for-text{
    font-size: 32px;
    text-align: left;
    color: #3450AA;
    padding-top: 100px;
    padding-right: 80px;
}

.for-pic{
    padding-top: 50px;
}
/*=========================*/
/*   end main: section 4   */
/*=========================*/
/*=========================*/
/*     main: section 5     */
/*=========================*/
.action{
    font-family: 'Nunito', sans-serif;
    padding-top: 111px;
    padding-bottom: 180px;
    background-image: url(icon/dots.svg);
}
.a-title{
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 64px;
    color: #3450AA;
    padding-bottom: 90px;
}
.a-items{
    position: relative;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

.a-item{
    background-image: url(icon/bg2.svg);
    background-repeat: no-repeat;
    width: 418px;
    height: 594px;
    text-align: center;
    margin-right: 24px;
}

.a-pic{
    padding: 70px 70px;
}
.a-item-desc{
    font-size: 32px;
    text-align: center;
    color: #425DB2;
}
/*=========================*/
/*   end main: section 5   */
/*=========================*/

/*=========================*/
/*     news: section 1     */
/*=========================*/
    .news{
        background-image: url(img/news/news-bg.svg);
        background-repeat: no-repeat;
        margin: 65px 40px ;
        position: relative;
        display: flex;
    }
    .title-news{
        margin-left: 40px;
        margin-top: 50px;
        font-size: 48px;
        color: #425DB2;
    }

    .news-text{
        padding-left: 126px;
        padding-top: 30px;
        color: #425DB2;
    }

    .news-title{
        font-size: 48px;
    }
    .news-descr{
        font-size: 32px;
        padding-top: 30px;
        width: 650px;
    }
/*=========================*/
/*   end news: section 1   */
/*=========================*/
/*=========================*/
/*     action: section 1   */
/*=========================*/
.actions{
    background-image: url(img/action/action-bg.svg);
    background-repeat: no-repeat;
    margin: 65px 40px ;
    position: relative;
    display: flex;
}
.action-news{
    margin-left: 40px;
    margin-top: 50px;
    font-size: 48px;
    color: #425DB2;
}

.action-text{
    padding-left: 126px;
    padding-top: 30px;
    color: #425DB2;
}

.action-title{
    font-size: 48px;
}
.action-descr{
    font-size: 32px;
    padding-top: 30px;
    width: 650px;
}
/*=========================*/
/*  end action: section 1  */
/*=========================*/
/*=========================*/
/*     menu: section 1     */
/*=========================*/
.filters{
    padding-left: 100px;
    padding-right: 100px;
}
.filter{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.type{
    color:white;
    background-color: #3450AA;
}

.filtered{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.b-menu{
    border: none;
    border-radius: 12px;
    padding: 5px 30px;
    margin-left: 30px;
    font-size: 32px;
    color: white;
    background-color: #3450AA;
}

.to-cart{
    margin-left: 90px;
}
.menu-title{
    color: #3450AA;
    margin: 50px 100px;
    font-size: 48px;
}

/*=========================*/
/*   end menu: section 1   */
/*=========================*/
/*=========================*/
/*     menu: section 2     */
/*=========================*/
.menu{
    position: relative;
    display:flex ;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
}
.items{
    text-align: center;
    padding-bottom: 40px;
}
.title-item{
    color: #3450AA;
}
.price-item{
    color: #90AAFF;
}
/*=========================*/
/*   end menu: section 2   */
/*=========================*/
/*=========================*/
/*  contacts: section 2    */
/*=========================*/
.contacts{
    margin-left: 200px;
    margin-top: 50px;
    color: #425DB2;
    margin-bottom: 100px;
}
.con-title{
    font-size: 48px;
    margin-bottom: 65px;
}
.uls-con{
    position: relative;
    display:flex ;
    justify-content: space-between;
    width: 1000px;
}

.con-t{
    font-size: 36px;
    margin-bottom: 30px;
}
/*=========================*/
/* end contacts: section 2 */
/*=========================*
/*=========================*/
/*      reg: section 1     */
/*=========================*/
.signup{
    background-image: url(img/registr.svg);
    background-repeat: no-repeat;
    height: 500px;
    background-position: 50% 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.reg-title{
    color: white;
    padding-left: 160px;
    padding-top: 30px;
    font-size: 32px;
}

.reg{
    position: relative;
    display:flex ;
    flex-wrap: wrap;
    padding-left: 150px;
}
.reg-ul{
    width: 530px;
    margin-right: 30px;
}
.b-reg{
    width: 530px;
}
/*=========================*/
/*     end reg: section 1  */
/*=========================*/
/*=========================*/
/*   login: section 1      */
/*=========================*/
.auto{
    background-image: url(img/login.svg);
    background-repeat: no-repeat;
    height: 450px;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title-auto{
    font-size: 32px;
    color: white;
    padding-top: 30px;
}
.login{
    padding-left: 150px;
    position: relative;
    display:flex ;
    flex-wrap: wrap;
    width: 530px;
}
.auto-in{
    width: 530px;
    height: 50px;
    border-radius: 30px;
    padding-left: 10px;
    border: 5px solid #90AAFF;
    font-size: 32px;
    margin: 20px 0px 20px 0px;
    font-family: 'Nunito', sans-serif;
}
.a-in{
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
}
.b-login{
    padding: 20px 80px;
    width: 530px;
    border: none;
    border-radius: 30px;
    background-color: #90AAFF;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    cursor: pointer;
}

/*=========================*/
/*   end login: section 2  */
/*=========================*/
/*=========================*/
/*   account: section 1    */
/*=========================*/
.profile{
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
}
.prof-li{
    display: flex;
}
.k-avatar{
    max-width: 220px;
    max-height: 235px;
}
/*=========================*/
/*  end account: section 1 */
/*=========================*/
/*=========================*/
/*   admin: section 1      */
/*=========================*/

.b-add{
    padding: 10px 40px;
    width: 280px;
    border: none;
    border-radius: 30px;
    background-color: #90AAFF;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin: 2%;
}

#menu-add{
    display: none;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#news-add{
    display: none;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#action-add{
    display: none;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}


/*=========================*/
/*  end admin: section 1   */
/*=========================*/


/*=========================*/
/*       Footer CSS        */
/*=========================*/

footer{
    height: 482px;
    color: #FFFFFF;
    background-color:#90AAFF ;
    padding-top: 73px;
    padding-left: 100px;
    position: relative;
    display: flex;
}
.footer-contacts{
    padding-right: 600px;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
}

.footer-li{
    padding-bottom: 20px;
}

.a-footer{
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    }
/*=========================*/
/*       end Footer CSS    */
/*=========================*/
